_build_/
bin/
lib/

Makefile
**/Makefiles

*.o
*.obj
*.a
*.so
*.log.DS_Store
*.xcworkspace/
*.xcodeproj/
# macOS junk
.DS_Store

# Xcode junk
*.xcodeproj/
*.xcworkspace/

# build / toolchain files we don't want to track
*.make
